{% extends "base.html" %}

{% block title %}
    {{ game.name }} | Board Game Linked Data
{% endblock %}

{% block content %}

    <h2>{{ game.name }}</h2>

    <h3>Spiel</h3>

    <p>
        <strong>IRI:</strong>
        {{ game.iri }}
    </p>

    <p>
        <strong>Erscheinungsjahr:</strong>
        {{ game.year }}
    </p>

    <p>
        <strong>Spieler:</strong>
        {{ game.min_players }}
        bis
        {{ game.max_players }}
    </p>

    <h3>Mechaniken</h3>

    <ul>
        {% for mechanic in game.mechanics %}
            <li>
                <a href="{{ url_for('mechanic', mechanic_id=mechanic.id) }}">
                    {{ mechanic.label }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <h3>Kategorien</h3>

    <ul>
        {% for category in game.categories %}
            <li>
                <a href="{{ url_for('category', category_id=category.id) }}">
                    {{ category.label }}
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}