{% extends "base.html" %}

{% block title %}
    Startseite | Board Game Linked Data
{% endblock %}

{% block content %}

    <h2>Board Game Linked Data</h2>

    <p>
        Eine kleine Linked-Data-Anwendung mit RDF,
        SKOS und SPARQL.
    </p>

    <h3>Spiele</h3>

    <ul>
        {% for game in data.games %}
            <li>
                <a href="{{ url_for('game', game_id=game.id) }}">
                    {{ game.label }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <h3>Mechaniken</h3>

    <ul>
        {% for mechanic in data.mechanics %}
            <li>
                <a href="{{ url_for('mechanic', mechanic_id=mechanic.id) }}">
                    {{ mechanic.label }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <h3>Kategorien</h3>

    <ul>
        {% for category in data.categories %}
            <li>
                <a href="{{ url_for('category', category_id=category.id) }}">
                    {{ category.label }}
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}